body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cac8ee; /* Background color */
    color: #495057; /* Text color */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.charts-container {
    display: flex;
    justify-content: space-around; /* This will place equal space around each item */
    width: 100%; /* Full width to accommodate both charts */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.chart-container {
    flex: 1 1 45%; /* Each container takes up about 45% of the flex container width */
    max-width: 600px;
    max-height: 300px;
    margin: 10px; /* Optional for spacing around charts */
}

button {
    padding: 10px 20px;
    background-color: #4648c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3638a2;
}


/* Or individually */
#speedChart {
    max-width: 600px;
    max-height: 300px;
    margin: auto;
}

#rpmChart {
    max-width: 600px;
    max-height: 300px;
    margin: auto;
}

#fuel {
    min-width: 120px;
}

h1 {
    color: #4648c2; /* Heading color */
    text-align: center;
}

h2 {
    color: #495057;
    font-family: verdana;
    font-size: 10px;
}

p {
    margin-top: 5px;
    text-align: left;
    max-width: 50%;
    line-height: 1.6;
    word-wrap: break-word;
}

table,
th, td {
    width: 60%;
    margin-top: 20px;
    padding: 12px;
    text-align: left; /* Align text to the left for headers and cells */
}

th {
    background-color: #1d20ac;
    color: white; /* Text color */
}

td {
    background-color: #ffffff; /* Table row color */
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
}

@media (max-width: 600px) {
    table {
        width: 60%;
        table-layout: fixed;
    }

    th,
    td {
        text-align: center;
    }

    th {
        text-align: center;
        padding-right: 0;
    }

    td {
        padding-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}